{% extends "layout.html" %}
{% block body %}
{% if session.user_state == 'A' and session['user_type'] == 'A' %}
<a href="{{ url_for('new_post') }}" class="btn btn-primary">New Post</a>
{% endif %}
<div id=posts>
{% for p in posts %}

<div class="row">

    <div class="col-lg-12">

        <h1 class="mt-4 post-title"><a href="{{ url_for('show_post', post_id=p.id) }}">{{ p.title }}</a></h1>

        <p class="lead post-info">
            posted on {{ p.created_at.date().isoformat() }}
        </p>

        <hr>

        <div class="post-body">
            {% if p.body|length > 800 %}
                <div class="post-content">
                    {{ p.body|markdown|truncate(500) }} {{ '</code></pre>'|safe }}
                </div>
                <div class="post-continue">
                    <p><a href="{{ url_for('show_post', post_id=p.id) }}">Continue reading >></a></p>
                </div>
            {% else %}
                <div class="post-content">
                {{ p.body|markdown }}
                </div>
            {% endif %}
        </div>

    </div>
</div>

{% if loop.last %}
<div id="last-post-id" style="display:none">{{ p.id }}</div>
{% endif %}
{% endfor %}
</div>
<script src="{{ url_for('static', filename='index.js') }}"></script>

{% endblock %}
