{% extends "layout.html" %}
{% block body %}
<div class=row>
<div class="col-lg-3"></div>
    <div class="col-lg-6">
  <h2>Signup</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('signup') }}" method=post>
            <div class="form-group">
                <label for=email>Email</label>
                <input type=email class="form-control" id=email name=email>
            </div>
    <div class="form-group">
                <label for=usr>Username</label>
                <input type=text class="form-control" id=usr name=username>
            </div>
            <div class="form-group">
                <label for=pass>Password</label>
                <input type=password class="form-control" id=pass name=password>
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  </form>
  </div>
  </div>
{% endblock %}
